/* 	General content styling, useful for WYSIWYGs
-------------------------------------------------- */
.content{

	h1,h2,h3,h4,h5,h6{
		
	}

	h1{
		
	}

	h2{
		
	}

	h3{
		
	}

	h4{
		
	}

	h5{
		
	}

	h6{
		
	}

	p{
		font-size: 30px;

		a{
			text-decoration: underline;
		}
	}

	a{

	}

	sup{

	}

	sub{

	}

	hr{

	}

	ul, ol{
		margin: 0;
		padding: 0;

		li{
			
		}
	}

	table{

		th{

			td{

			}
		}

		tr{

			td{

			}
		}
	}

	blockquote{

	}
}