/* 	Globals, basic styles that hit everthing you 
	want them to.
-------------------------------------------------- */
body {

	&.locked{

		#container{
			overflow-y: hidden;
		}
	}
}

#container{
	opacity: 1;
}

a{
	text-decoration: none;
	color: inherit;

	&:focus,
	&:active{
		outline: 0 none;
	}
}

p{
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	margin: 0;
	padding: 0;
}

input,
select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border-radius: 0;
	box-shadow: none;
}

#main{
	
}

.container{
	margin: 0 auto;
	max-width: 1920px;
	padding: 0 60px;
	position: relative;
	width: 100%;

	&.mid{
		padding: 0 120px;
	}
	&.narrow{
		padding: 0 200px;
	}
	&.thin{
		padding: 0 280px;
	}
	&.wide{
		padding: 0;
	}
}