.grid-wrapper{
	background-color: $white;

	.poster-frame,
	.non-frame{
		background-color: $black;
		color: $white;
		display: block;
		float: left;
		height: 0;
		opacity: 0;
		padding: 0 0 44.4444%;
		position: relative;
		-webkit-transition: opacity 500ms ease-in-out, background-color .5s ease-out;
		transition: opacity 500ms ease-in-out, background-color .5s ease-out;
		width: 33.3333%;

		@media (max-width: 1100px){
			padding: 0 0 66.6666%;
			width: 50%;
		}

		@media (max-width: 600px){
			padding: 0 0 133.3333%;
			width: 100%;
		}
		
		.content-title{
			writing-mode: vertical-lr;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			position: absolute;
			right: 80px;
			bottom: 80px;
			font-size: 80px;
			font-weight: bold;
			
			.lil-dash{
				writing-mode: horizontal-tb;
				position: relative;
				right: 20px;
			}
		}

		.iframe{
			height: 100%;
			left: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			-webkit-transition: opacity 500ms ease-in-out;
			transition: opacity 500ms ease-in-out;
			width: 100%;

			iframe{
				border: 0 none;
				height: 100%;
				outline: 0 none;
				width: 100%;
			}
		}

		&.loaded{
			opacity: 1;

			.iframe{
				opacity: 1;
			}
		}
	}

	.non-frame{
		background-color: $white;

		.content{
			bottom: 0;
			color: $black;
			left: 0;
			padding: 40px;
			position: absolute;
			width: 100%;
			z-index: 3;
			transition: opacity .25s ease-out;

			p{
				font-weight: bold;
				transition: color .5s ease-out;
				
				a{
					text-decoration: none;
					border-bottom: 2px solid black;
					color: black;
					
					&.disabled{
						
					}
				}

				&.peaceHover{
					color: rgba(0,0,0,0.2);

					a{
						color: $black;
						transition: color .5s ease-out;

						&.peaceHover{
							color: rgba(0,0,0,0.2);
							text-decoration: none;
							border-color: transparent;
						}
					}
				}
			}
		}
	}

	.optional{
		display: none;
	}

	.info-frame{
		bottom: 0;
		left: 0;
		padding: 40px;
		position: absolute;
		width: 100%;
		display: flex;
		
		h1{
			font-size: 16px;
			font-weight: bold;
		}
		h2{
			font-size: 16px;
			font-weight: bold;

			a{
				
			}
		}
		.expand{

		}
	}

	&.alt{
		background-color: $black;

		.poster-frame{
			background-color: $white;
			color: $black;
		}

		.non-frame{
			background-color: $black;
			color: $white;
			transition: background-color .5s ease-out;

			.content{

				p{
					font-weight: bold;
					
					a{
						text-decoration: none;
						border-bottom: 2px solid black;
						
						&.disabled{

						}
					}

					&.punkHover{
						color: rgba(255,255,255,0.2);

						a{
							color: $white;
							border-color: $white;

							&.punkHover{
								color: rgba(255,255,255,0.2);
								text-decoration: none;
								border-color: transparent;
							}
						}
					}
				}
			}
		}
	}
	
	article{
		position: relative;
		
		&:hover > .info-frame{
			opacity: 1;
			transition-delay: .25s;
		}
		
		.info-frame{
			position: absolute;
			bottom: 0px;
			color: $black;
			justify-content: flex-end;
			flex-direction: column;
			z-index: 1;
			opacity: 0;
			transition: opacity .25s ease-out;
			width: 50%;
			
			&.punk{
				color: $white !important
			}
		}
		
		&:nth-child(6n+1){
			.info-frame{
				left: 100%;
			}
		}
		
		&:nth-child(6n+3){
			.info-frame{
				left: -50%;
				text-align: right; 
			}
		}
		
		&:nth-child(6n+5){
			.info-frame{
				left: 100%
			}
		}
	}
}
