.poster-frame,
.non-frame{
	background-color: $black;
	display: block;
	float: left;
	height: 0;
	opacity: 0;
	padding: 0 0 44.4444%;
	position: relative;
	-webkit-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	width: 33.3333%;

	.iframe{
		background-color: pink;
		height: 100%;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		-webkit-transition: opacity 500ms ease-in-out;
		transition: opacity 500ms ease-in-out;
		width: 100%;

		iframe{
			border: 0 none;
			height: 100%;
			outline: 0 none;
			width: 100%;
		}
	}

	&.loaded{
		opacity: 1;

		.iframe{
			opacity: 1;
		}
	}
}

.non-frame{
	background-color: $white;
}

.optional{
	display: none;
}

.alt{

	.poster-frame{
		background-color: $white;
	}
	.non-frame{
		background-color: $black;
		color: $white;
	}
}

.info-frame{
	position: absolute;
}