#header{
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

#header #primary-nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header #primary-nav div{
	width: 33.3%;
	display: flex;
	align-items: center;
	ul li{
		list-style: none;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		display: flex;
		
		&.punk{
			color: black !important;
		}
	}
}


ul{
	padding: 0;
}

#logo{
	justify-content: center;
	
	a small{
		padding:0px 30px;
		font-style: italic;
		font-size: 10px;
		opacity: 0;
		transition: opacity .25s ease-out;
	}
	
	&:hover > a small{
			opacity: 1;
			cursor: pointer;
		}
}

#nav-one{
	justify-content: flex-start;
	ul{
		padding: 25px;
		li{
			transform: rotate(-90deg);
			&:nth-child(1){
				a{
					padding-top: 5px;
				}
			}
		}
	}
}

#nav-two{
	justify-content: flex-end;
	ul{
		padding: 25px;
		li{
			transform: rotate(90deg);
			&:nth-child(1){
				a{
					padding-bottom: 5px;
				}
			}
		}
	}
}


#mobile-toggle{
	display: none;
}

